# Dependency directories
node_modules
*/static/*
builds
package-lock.json
*.workspace
*200*/*
*.DS_Store*
src/svg/
*-build/
src/api/*-quizQuestions.js
src/api/*-personalityResults.json
src/api/GP-IQ_Configs/*
