.App {
  height: 100vh;
  background-color: #e1e2e1;
}
.App h2 {
  /*color: #34515e;*/
  /*width: 100vw;*/
}
.App-logo {
  /*animation: spin infinite 20s linear;*/
  height: 80px;
}
.App-header {
  background-color: #34515e;
  padding: 20px;
  color: #fafafa;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 6px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.App-intro {
  font-size: large;
}

/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
