.App {
  height: 100vh;
  background-color: #fff;
}
.App h2 {
  font-family: Ubuntu, sans-serif;
  /*color: #34515e;*/
  /*width: 100vw;*/
}
.App-logo {
  /*animation: spin infinite 20s linear;*/
  height: 0;
}
.App-header {
  font-family: Ubuntu, sans-serif;
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #333;
  text-align: center;
}

.App-intro {
  font-family: Ubuntu, sans-serif;
  font-size: medium;
}

/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
