.App {
  height: 100vh;
  background-color: #fff;
}
.App h2 {
  font-family: Montserrat, sans-serif;
  /*color: #34515e;*/
  /*width: 100vw;*/
}
.App-logo {
  /*animation: spin infinite 20s linear;*/
  height: 0;
}
.App-header {
  font-family: Montserrat, sans-serif;
  background-color: #eee5d6;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  font-weight: 400;
  color: #5e6472;
  line-height: 1.65;
}

.App-intro {
  font-family: Montserrat, sans-serif;
  font-size: medium;
}

/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
