@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

/* Shared */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
}

h4 {
  font-size: 14px;
  color: #000000;
  padding-right: 7px;
  padding-left: 7px;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 0;
    padding-left: 2px;
}

.container {
  position: relative;
  min-height: 70vh;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  background: #f5f5f6;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
}

@media (min-width: 300px) {
  .container {
    margin: .25rem auto;
  }
}

/* Result Component */
.result {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: .1rem .1rem;
  text-align: center;
}
.result-bio {
  justify-content: left;
  font-size: 13px;
  padding: .25rem .25rem;
  text-align: left;
}
.result-container {
  width: 95vw;
  padding: .25em;
}
.result-sponsor {
  font-size: 10px;
  color: #2f222f;
  padding: .25em;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  font-size: 13px;
  background: #e0e2e5;
  color: #000000;
  padding: .5rem .5rem 0;
}

/* Question Component */
.question {
  margin: 0;
  background: #e0e2e5;
  color: #000000;
  padding: 0.5rem .75rem .5rem .75rem;

}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #fff;
}
.answerOption:first-child {
  border-top: none;
}
.answerOption:last-child {
  border-bottom: 1px solid #fff;
}
/*rgb(96, 125, 139)*/
.answerOption:hover {
  background-color: rgba(96, 125, 139, 0.1);
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    /* where the li margins and padding are */
    padding: .95rem .05rem .25rem 3rem;
    font-size: 14px;
    line-height: 1.02;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 6px;
    left: 12px;
    width: 22px;
    height: 22px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.098);
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #a7ffeb url(./svg/icon-check.svg) no-repeat;
    background-size: 22px;
    border-color: #a7ffeb;
}

/* New checkboxes */

.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

input:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
input:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

.hidden {
  display: none;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
