@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

/* Shared */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
}

h4 {
  font-size: 14px;
  color: #000000;
  padding-right: 7px;
  padding-left: 7px;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 0;
    padding-left: 2px;
}

.container {
  position: relative;
  min-height: 70vh;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  background: #f5f5f6;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
}

@media (min-width: 300px) {
  .container {
    margin: .25rem auto;
  }
}

/* Result Component */
.result {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: .1rem .1rem;
  text-align: center;
}
.result-bio {
  justify-content: left;
  font-size: 13px;
  padding: .25rem .25rem;
  text-align: left;
}
.result-container {
  width: 95vw;
  padding: .25em;
}
.result-sponsor {
  font-size: 10px;
  color: #2f222f;
  padding: .25em;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  font-size: 13px;
  background: #e0e2e5;
  color: #000000;
  padding: .5rem .5rem 0;
}

/* Question Component */
.question {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  background: #e0e2e5;
  color: #000000;
}
.question span {
  flex: 2 1 0;
  padding: 0.5rem .75rem .5rem .75rem;
}
.nextButton {
  outline: none;
  flex: auto 0 0;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  background-color: #29b765
}
.nextButton:hover, .nextButton:focus {
  color: #2f222f;
}
button:focus {
  outline: 0 !important;
}


/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #fff;
  position: relative;
}
.answerOption:first-child {
  border-top: none;
}
.answerOption:last-child {
  border-bottom: 1px solid #fff;
}
/*rgb(96, 125, 139)*/
.answerOption:hover {
  background-color: rgba(96, 125, 139, 0.1);
}

.answerOptionContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 10px 5px 5px;
  /* customize colors here */
  background-color: #043d30;
  color: white;
  border-radius: 5px;
}
.answerOptionImage {
  cursor: pointer;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: auto;
    margin: 0;
    margin-left: 30px;
    /* where the li margins and padding are */
    padding: .15rem;
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.02;
    min-height: 30px;
}
.radioCustomLabel::first-line {
  vertical-align: text-bottom;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    margin-right: .6rem;
    top: 4px;
    left: -26px;
    width: 22px;
    height: 22px;
    content: '';
    display: block;
    float: left;
    vertical-align: middle;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.098);
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #3f6159 url(./svg/icon-check.svg) no-repeat;
    background-size: 22px;
    border-color: #3f6159;
}

.answerOption:hover .radioCustomButton ~ .radioCustomLabel:before {
  background-color: #00491e;
  border-color: #a7ffeb;
}
.answerOption:hover .radioCustomButton:checked ~ .radioCustomLabel:before {
  background-color: #00491e;
  border-color: #00491e;
}
.answerOption:hover .answerOptionContainer {
  color: rgba(240, 240, 240, 0.95);
  background-color: #00491e;
}

/* New checkboxes */

.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  user-select: none;
}
.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

input:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
input:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

.hidden {
  display: none;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* TODO */
.answerDefault .answerOptionImage img {
  width: 100%;
  height: 100%;
}
.answerDefault .answerOptionContainer {
  right: 10px;
  left: auto;
}

/* AnswerOptions ul List custom formats */
.coolMatrix {
  background-color: #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.coolMatrix .answerOption {
  user-select: none;
  flex: 1 0 1;
  background-color: #c5c5c5;
  color: black;
  padding: 10px;
  margin: 5px;
  width: 100%;
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
}
.coolMatrix .answerOption:hover {
  background-color: rgba(0, 0, 0, 0.32);
}
.coolMatrix .answerSelected {
  background-color: magenta;
  color: white;
}
.coolMatrix .answerSelected:hover {
  background-color: rgba(255, 0, 255, 0.6);
}
.coolMatrix .answerOptionContainer {
  color: inherit;
  padding: 0;
  margin: 0;
  background: transparent;
  left: 0;
  right: auto;
  bottom: 5px;
  top: auto;
  width: 100%;
}
.coolMatrix .radioCustomButton,
.coolMatrix .radioCustomLabel::before {
  display: none;
}
.coolMatrix .radioCustomLabel {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  min-height: 0;
}
.coolMatrix .answerOptionImage {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 10px;
}
.coolMatrix .answerOptionImage img {
  max-width: 100%;
  max-height: 100%;
}
.coolMatrix .answerOption:hover .answerOptionContainer {
  color: inherit;
  background: transparent !important;
}
@media screen and (min-width: 30em) and (orientation: landscape) {
  .coolMatrix .answerOption {
    width: 20em;
  }
}
@media screen and (min-width: 40em) {
  .answerDefault .answerOption {
    width: 50%;
    display: inline-block;
  }
}
@media screen and (min-width: 60em) {
  .answerDefault .answerOption {
    width: 33%;
    display: inline-block;
  }
}