@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,900);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,900);
/* Shared */

* {
  box-sizing: border-box;
}

a:link    { color:#45d6ff; text-decoration:none; }
a:visited { color: #009bdf; text-decoration:none; }
a:hover { text-decoration:underline; text-decoration-color: #009bdf}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

h4 {
  font-size: 14px;
  color: #333;
  padding-right: 7px;
  padding-left: 7px;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 0;
    padding-left: 2px;
}

.container {
  position: relative;
  min-height: 70vh;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
}

@media (min-width: 300px) {
  .unconstrained .container {
    margin: .25rem auto;
  }
}

/* Result Component */
.result {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 14px;
  padding: .1rem .1rem;
  text-align: center;
}
.result-answer {
  font-size: 18px;
}
.result-bio {
  flex: 1 1 auto;
  justify-content: left;
  font-size: 13px;
  padding: .25rem .25rem;
  text-align: left;
}
.result-container {
  width: 95vw;
  padding: .25em;
  margin: 0 1em;
}
.result-container h4 {
  padding: .95;
  margin: .75em;
  text-align: left;
}
.result-sponsor {
  /* 'System Msgs' share the same style and include result-sponsor, questionCount, span.nextInstructions */
  font-family: 'Ubuntu Mono', sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  font-size: 12px;
  padding: .25em;

}
.result-sponsor img {
  max-width: 300px;
}
.result-container a:link {
  /* TODO */
  }

@media (min-width: 30em) {
  .unconstrained .result-container {
    width: 100%;
    max-width: 30em;
  }
  .unconstrained .result-answer {
    font-size: 1.5em;
  }
  .unconstrained .result-bio {
    font-size: 18px;
  }
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  /* 'System Msgs' share the same style and include result-sponsor, questionCount, span.nextInstructions */
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 12px;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  padding: .5rem .5rem 0;
}

/* Question Component */
.question {
  position: sticky;
  top: 0;
  z-index: 2;
  display: grid;
  align-items: center;
  margin: 0;
  background: #fff;
  color: #333333;
}
.question span {
  grid-column-start: 1;
  padding: 0.5rem .75rem .5rem .75rem;
}
.question span.nextInstructions {
  /* 'System Msgs' share the same style and include result-sponsor, questionCount, span.nextInstructions */
  font-family: 'Ubuntu Mono', sans-serif;
  padding-top: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.question img {
  width: 100%;
  max-height: 80em;
  grid-column: 1;
  transition: width 1s ease;
}
.question.multiQuestion img {
  grid-column: 1 / span 2;
}
.nextButton {
  outline: none;
  grid-column-start: 2;
  grid-row-start: 1;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  background-color: #009bdf;
  vertical-align: middle;
  min-height: 3.5em;
  margin: 3px;
}
.nextButton:hover, .nextButton:focus {
  color: #45d6ff;
}
button:focus {
  outline: 0 !important;
}

@media screen and (min-width: 40em) {

  .unconstrained .question {
    grid-template-columns: 30fr 70fr;
  }
  .unconstrained .question.multiQuestion.imgQuestion {
    grid-template-columns: 30fr 50fr 20fr;
  }
  .unconstrained .question span {
    grid-column-start: 1;
  }
  .unconstrained .question.imgQuestion span,
  .question.imgQuestion .nextButton {
    grid-column-start: 2;
  }
  .unconstrained .question img {
    transition: 1s;
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    max-width: 50vw;
    margin-bottom: 5px;
  }
  .unconstrained .question.multiQuestion img {
    grid-column: 1 / span 1;
  }
  .unconstrained .question.multiQuestion.imgQuestion .nextButton {
    grid-column-start: 3;
  }
}

/* AnswerOption Component */
.answerOption {
  font-family: 'Open Sans Condensed', sans-serif;
  border-top: 1px solid #fff;
  position: relative;
  display: block;
  overflow: auto;
}
.answerOption:first-child {
  border-top: none;
}
.answerOption:last-child {
  border-bottom: 1px solid #fff;
}
/*rgb(96, 125, 139)*/
.answerOption:hover {
  background-color: rgba(96, 125, 139, 0.1);
}

.answerOptionContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 10px 5px 5px;
  /* customize colors here */
  background-color: #009bdf;
  color: white;
  border-radius: 5px;
}
.answerOption .answerOptionImage {
  cursor: pointer;
  min-height: 65px;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  user-select: none;
  position: relative;
  width: auto;
  margin: 0;
    margin-left: 30px;
    /* where the li margins and padding are */
    padding: .15rem;
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.02;
    min-height: 30px;
}
.radioCustomLabel::first-line {
  vertical-align: text-bottom;
}

.answerOption .radioCustomLabel:before {
    position: absolute;
    margin-right: .6rem;
    top: 4px;
    left: -26px;
    width: 22px;
    height: 22px;
    content: '';
    display: block;
    float: left;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.098);
    border-radius: 50%;
    transition: all 0.3s;
}

.answerOption.answerSelected .radioCustomLabel:before {
    content: '';
    background: #45d6ff url(./svg/icon-check.svg) no-repeat;
    background-size: 22px;
    border-color: #009bdf;
}

.answerOption:hover .radioCustomLabel:before {
  background-color: #45d6ff;
  border-color: #009bdf;
}
.answerOption.answerSelected:hover .radioCustomLabel:before {
  background-color: #45d6ff;
  border-color: #009bdf;
}
.answerOption:hover .answerOptionContainer {
  color: rgba(240, 240, 240, 0.95);
  background-color: #009bdf;
}

/* New checkboxes */

.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #333;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  user-select: none;
}
.button-label h1 {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #333333;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

input:checked + .button-label {
  background: #45d6ff;
  color: #fff;
}
input:checked + .button-label:hover {
  background: #009bdf;
  color: #fff;
}

.hidden {
  display: none;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* TODO */
.answerDefault .answerOptionImage img {
  width: 100%;
  height: 100%;
}
.answerDefault .answerOptionContainer {
  width: auto;
  left: auto;
  top: auto;
  display: inline-grid;
  position: inherit;
  margin: 8px 8px 0 8px;
}
.answerDefault .imgAnswerOption .answerOptionContainer {
  left: 8px;
  top: 10px;
  position: absolute;
}

/* AnswerOptions ul List custom formats */
.coolMatrix {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.coolMatrix .answerOption {
  user-select: none;
  flex: 1 0 1;
  background-color: #fff;
  color: #333;
  padding: 10px;
  margin: 5px;
  width: 100%;
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
}
.coolMatrix .answerOption:hover {
  background-color: #009bdf;
}
.coolMatrix .answerSelected {
  background-color: #009bdf;
  color: white;
}
.coolMatrix .answerSelected:hover {
  background-color: #45d6ff;
}
.coolMatrix .answerOptionContainer {
  color: inherit;
  padding: 0;
  margin: 0;
  background: transparent;
  left: 0;
  right: auto;
  bottom: 5px;
  top: auto;
  width: 100%;
}
.coolMatrix .radioCustomButton,
.coolMatrix .radioCustomLabel::before {
  display: none;
}
.coolMatrix .radioCustomLabel {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  min-height: 0;
}
.coolMatrix .answerOptionImage {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 10px;
}
.coolMatrix .answerOptionImage img {
  max-width: 100%;
  max-height: 100%;
}
.coolMatrix .answerOption:hover .answerOptionContainer {
  color: inherit;
  background: transparent !important;
}
@media screen and (min-width: 30em) and (orientation: landscape) {
  .unconstrained .coolMatrix .answerOption {
    width: 20em;
  }
}
@media screen and (min-width: 40em) {
  .unconstrained .answerDefault .answerOption {
    width: 50%;
    display: inline-block;
  }
}
@media screen and (min-width: 60em) {
  .unconstrained .answerDefault .answerOption {
    width: 33%;
    display: inline-block;
  }
}

/* constrain to 300x600 */
.constrain-300x600 {
  width: 300px;
  height: 600px;
  overflow: scroll;
}
.constrain-300x600 .answerDefault .answerOption {
  width: 100%; 
}
.constrain-300x600 .result-container {
  width: 300px;
}